option_settings:
  - option_name: BASE_URL
    value: tides.coloredcow.com
  - option_name: DATABASE_USER
    value: user1
  - option_name: DATABASE_PASSWORD
    value: pass1
  - option_name: POSTGRES_MULTIPLE_DATABASES
    value: main_db,test_db
  - option_name: DATABASE_DB
    value: main_db
  - option_name: DATABASE_ROLE
    value: db
  - option_name: DATABASE_HOST
    value: main_db
  - option_name: SECRET_KEY_BASE
    value: qu7CXOpykb6wMdSJ6kYepIFxWevqByviwZZgOz03luuE4exd+vGSMG3WoThg1Vl7