option_settings:
  - option_name: BASE_URL
    value: tides.coloredcow.com
  - option_name: DATABASE_USER
    value: postgres
  - option_name: DATABASE_PASSWORD
    value: postgres
  - option_name: POSTGRES_DB
    value: tidesdb
  - option_name: SECRET_KEY_BASE
    value: qu7CXOpykb6wMdSJ6kYepIFxWevqByviwZZgOz03luuE4exd+vGSMG3WoThg1Vl7
  - option_name: DATABASE_HOST
    value: tidesdb.czpgx5pis6ka.ap-south-1.rds.amazonaws.com
  - option_name: DATABASE_DB
    value: tidesdb