<h1>New Option value</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.option_value_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.option_value_path(@conn, :index) %></span>
