<h1>Edit Session message</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.session_message_path(@conn, :update, @session_message)) %>

<span><%= link "Back", to: Routes.session_message_path(@conn, :index) %></span>
