<h1>New Session message</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.session_message_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.session_message_path(@conn, :index) %></span>
